@font-face {
	font-family: "Minecraftia";
	src: url("/assets/fonts/Minecraftia.ttf") format("truetype");
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Minecraftia", source-code-pro, Menlo, Monaco, Consolas,
		"Courier New", monospace;
	background-color: #111;
	color: #fff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
